PORT=3000
# En desarrollo: http://localhost:5173
# En producción: https://tudominio.com
CORS_ORIGIN=http://localhost:5173
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=CAMBIAR_PASSWORD
MYSQL_DATABASE=extramurapp
JWT_SECRET=CAMBIAR_ESTE_SECRETO_EN_PRODUCCION
JWT_EXPIRES_IN=12h
# true solo en desarrollo, false en producción
SHOW_RESET_TOKEN_IN_RESPONSE=true
